body {
    margin: 0px;
    background-color: pink;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    margin: 0px;
}

.Wide {
    margin-top: 1rem;
    width: 80%;
    max-width: 200px;
}

.App {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

.Calendar {
    display: flex;
    flex-wrap: wrap;
}

.Result {
    display: flex;
    padding-right: 1rem;
    justify-content: space-between;
    flex-direction: row;
}